export SPEC_FILE=demoapi.yaml
export SAUCE_USERNAME=username
export SAUCE_ACCESS_KEY=key
export HOOK_ID=hookId 
export BUILD_ID=buildId
export PIESTRY_PORT=6000
export DC=api.us-central-1.saucelabs.com
